// styling footer section

.social-media{
    text-align: center;
    padding: 2rem ;
    background-color: #2d2d2d;
    p{
        color: #fff;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 2rem;
        display: inline;
        padding-right: 2rem;
    }
    img{
        height: 2rem;
        padding: 0 .5rem 0 0;
    }
}

.about-us-diclosure{
    background-color: #404041;
    padding: 4rem 1.5rem 3rem 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    a{
        color: #fff;
        text-decoration: none;
        padding-right: 1rem;
    }
    p{
        color: #fff;
    }
    .about-us-links{
        font-size: 2rem;
        border-bottom: 2px solid #fff;
        padding-bottom: 3rem;
        a:first-child{
            font-size: 1.4rem;
            display: block;
            padding-bottom: 3rem;
        }
    }
}

.legal-disclosures{
    padding-block: 1rem;
    div{
        p{
            font-size: 1.25rem;
            width: 100%;
        }
        display: flex;
        flex-flow: row wrap;
        a{
            font-size: 1.25rem;
            padding-block: .5rem;
        }
    }
}